# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Raw and heavy data
data/
*.gz
*.zip
*.parquet

# Optional local envs
.venv/
env/
# Google ClusterData 2019 local data
raw_usage/
raw_events/
out/
processed/
*.json.gz
*.parquet
*.parquet.gz
*.csv
*.csv.gz
*.db
*.duckdb
*.log

# Python / notebooks
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
